@model Model.AdminModel.Login

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		<div class="container-fluid fill">
			
			<div class="container">
				<div class="mypage">
					<div class="jumbotron mypage-section">
						<h1 class="mypage-header">Logg inn</h1>
					</div>
					<div class="col-xs-12">
						<div class="container-fluid mypage-section">
							<div class="col-xs-4 col-xs-offset-4">
                                <form>
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <label for="admin_username">Brukernavn</label>
                                        <!--<input type="text" class="form-control" id="username">-->
                                        @Html.EditorFor(model => model.Username, new { htmlattributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "form-error" })
                                    </div>
                                    <div class="form-group">
                                        <label for="admin_password">Passord</label>
                                        <!--<input type="password" class="form-control" id="admin_password">-->
                                        @Html.EditorFor(model => model.Password, new { htmlattributes = new { @class = "form-control" ,@type="password"} })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "form-error" })
                                    </div>
                                   
                                    <button type="submit" class="btn btn-primary" style="margin-bottom:20px;">Logg inn</button>
                                </form>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="script.js"></script>
</body>
